{% extends 'base'|with_theme %}


{% block contents %}
<div class="row">
    <div class="col s12">
        <h2>Welcome!</h2>
        <p>This site may or may not be updated ... </p>

        <ul>
          <li>
            <a href="/resume/"><span class="material-icons black-text" style="font-size: 36px; vertical-align: middle;"> contact_page</span> Resume</a>
          </li>
          <li>
            <a href="https://github.com/justengel">
              <img src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png' style='vertical-align: middle; width: 32px; height: 32px' /> justengel
            </a>
          </li>
          <li>
            <a href="https://github.com/justengel-web">
              <img src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png' style='vertical-align: middle; width: 32px; height: 32px' /> justengel-web
            </a>
          </li>
          <li>
            <a href="https://gist.github.com/justengel">
              <img src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png' style='vertical-align: middle; width: 32px; height: 32px' /> gist justengel
            </a>
          </li>
        </ul>

        <h3>Random Tools</h3>
        <ul>
            <li><a href="/time_calculator">Time Calculator</a></li>
            <li><a href="/mortgage_calculator">Mortgage Calculator</a></li>
            <li><a href="/mortgage_calculator/raw">Raw Mortgage Calculator</a></li>
        </ul>

        <h3>Python Projects:</h3>
        <ul>
          <li><a href="https://github.com/justengel/resource_man">resource_man</a></li>
          <li><a href="https://github.com/justengel/qt_thread_updater">qt_thread_updater</a></li>
          <li><a href="https://github.com/justengel/shell_proc">shell_proc</a></li>
          <li><a href="https://github.com/justengel/pyjoystick">pyjoystick</a></li>
          <li><a href="https://github.com/justengel/dynamicmethod">dynamicmethod</a></li>
          <li><a href="https://github.com/justengel/pylibimport">pylibimport</a></li>
          <li><a href="https://github.com/justengel-web/justengel_material">justengel_material</a></li>
          <li><a href="https://github.com/justengel-web/justengel_theme">justengel_theme</a></li>
          <li><a href="https://github.com/justengel/async_sched">async_sched</a></li>
          <li><a href="https://github.com/justengel/np_rw_buffer">np_rw_buffer</a></li>
          <li><a href="https://github.com/justengel/event_signal">event_signal</a></li>
        </ul>
    </div>
</div>
{% endblock contents %}

