{% extends 'base'|with_theme %}


{% block contents %}
<h1>Welcome to justengel.com!</h1>
<p>This site may or may not be updated ... </p>
<a href="https://github.com/justengel">Check out my github</a>

<h3>Random Tools</h3>
<ul>
    <li><a href="/time_calculator">Time Calculator</a></li>
    <li><a href="/mortgage_calculator">Mortgage Calculator</a></li>
    <li><a href="/mortgage_calculator/raw">Raw Mortgage Calculator</a></li>
</ul>

<h3>Python Projects:</h3>
<ul>
    <li><a href="https://github.com/justengel/dynamicmethod">dynamicmethod</a></li>
    <li><a href="https://github.com/justengel/async_sched">async_sched</a></li>
    <li><a href="https://github.com/justengel/shell_proc">shell_proc</a></li>
    <li><a href="https://github.com/justengel/qt_thread_updater">qt_thread_updater</a></li>
    <li><a href="https://github.com/justengel/pyjoystick">pyjoystick</a></li>
    <li><a href="https://github.com/justengel/pylibimport">pylibimport</a></li>
    <li><a href="https://github.com/justengel/np_rw_buffer">np_rw_buffer</a></li>
    <li><a href="https://github.com/justengel/event_signal">event_signal</a></li>
</ul>
{% endblock contents %}

